.zuodan
{
    text-align: right;
    background-color:#33ccff;
    
    }
    
.zuoshuang
{
    text-align:right;
    }
    
.youdan
{
    text-align:left;
    background-color:#33ccff;
    }
    
.youshuang
{
    text-align:left;
    }